<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header class="bg-white black-80 tc pv4 avenir">
        <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100">
            <svg class="white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>skull icon</title>
                <path
                    d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12">
                </path>
            </svg>
        </a>
        <h1 class="mt2 mb0 baskerville i fw1 f1">Grafity</h1>
        <h2 class="mt2 mb0 f6 fw4 ttu tracked">Get your Graph basics on Point</h2>
        <nav class="bt bb tc mw7 center mt4">
            <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/"
                method="GET">Intro</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href='/rep'
                method="GET">Representations</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l" href="/algo"
                method="GET">Algorithms</a>
            <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/animation"
                method="GET">Animation</a>
        </nav>
    </header>
    <article>
        <header class="bg-gold sans-serif">
            <div class="mw9 center pa4 pt5-ns ph7-l">
                <time class="f6 mb2 dib ttu tracked"><small>April 2020</small></time>
                <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                    <span class="bg-black-90 lh-copy white pa1 tracked-tight">
                        What are Graphs?
                    </span>
                </h3>
                <h5 class="f6 ttu tracked black-80">By DRSS</h5>
            </div>
        </header>
        <div class="pa4 ph7-l georgia mw9-l center">
            <p class="f5 f3-ns lh-copy measure georgia">
                In the domain of mathematics and computer science, graph theory is the study of graphs that concerns
                with the relationship among edges and vertices.
                It is a popular subject having its applications in computer science, information technology,
                biosciences, mathematics, and linguistics to name a few.
                Without further ado, let us start with defining a graph.
            </p>
            <h1>What is a Graph?</h1>
            <p class="f5 f3-ns lh-copy measure georgia">
                A graph is a pictorial representation of a set of objects where some pairs of objects are connected by
                links. The interconnected objects are represented by points termed as vertices, and the links that
                connect the vertices are called edges.

                Formally, a graph is a pair of sets (V, E), where V is the set of vertices and E is the set of edges,
                connecting the pairs of vertices. Take a look at the following graph,
            </p>
            <img class="f5 f3-ns lh-copy measure georgia"
                src="https://www.tutorialspoint.com/graph_theory/images/pairs_of_vertices.jpg" alt="Graph picture">
            <p class="f6 f5-ns lh-copy measure i b--gold mb4">
                In the above graph,

                V = {a, b, c, d, e}

                E = {ab, ac, bd, cd, de}
            </p>
            <h1>Applications of Graph Theory</h1>
            <p class="f5 f3-ns lh-copy measure georgia">
                <li style="font-size:23px;font-family:Georgia">Electrical Engineering − The concepts of graph theory
                    is
                    used extensively in
                    designing circuit
                    connections. The types or organization of connections are named as topologies. Some examples for
                    topologies are star, bridge, series, and parallel topologies.</li>
                <br />

                <li style="font-size:23px;font-family:Georgia">Kruskal's Algorithm</li>
                <br />
                <li style="font-size:23px;font-family:Georgia">Prim's Algorithm</li>
                <br />
                <li style="font-size:23px;font-family:Georgia">Dijkstra's Algorithm</li>
                <br />
                <li style="font-size:23px;font-family:Georgia">Computer Network − The relationships among interconnected
                    computers in the
                    network follows the
                    principles of graph theory.</li>
                <br />

                <li style="font-size:23px;font-family:Georgia">Science − The molecular structure and chemical structure
                    of a substance, the
                    DNA structure of an
                    organism, etc., are represented by graphs.</li>
                <br />
                <li style="font-size:23px;font-family:Georgia">Linguistics − The parsing tree of a language and grammar
                    of a language uses
                    graphs.</li>
                <br />
                <li style="font-size:23px;font-family:Georgia">General − Routes between the cities can be represented
                    using graphs.
                    Depicting hierarchical ordered
                    information such as family tree can be used as a special type of graph called tree.</li>
            </p>
            <br />
        </div>
    </article>
</body>

</html>